<DOCTYPE! html>
<html>
<body>


<h1> HEBA ASHOUR </h1>

<p>
<li> 01113297267 </li>
<li> hebatayseer1997@gmail.com </li>
<li> www.linkedin.com/in/H-Ashour </li>
<li> https://github.com/HebaTayseer </li>


<h2> Skills </h2>
<li> Amazon Web Services (AWS)</li>
<li> Linux </li>
<li> Terraform </li>
<li> CI/CD </li>
<li> Ansible </li>
<li> Python </li>
<li> Bash </li>
<li> Cloud Formation </li>
<li> Git </li>
<li> Docker </li>

<h2> Languages: </h2>
<li> Arabic (Native) </li>
<li> English (Fluent) </li>

<h2> Training Courses: </h2>
<h3> Advanced Cloud DevOps (UDACITY) (Oct - Dec) – 2022 </h3>
<p>
<li> 5 Weeks of Technical training compute power, security, storage, networking, messaging, and
management services in the cloud, exploring tools and services offered by Amazon Web Services (AWS)
through interactive hands-on exercises and deploying infrastructure using CloudFormation, AWS’ tool
for Infrastructure as Code.</li> <br>
<li> Learning the process of taking software from source code to deployment, automated testing, choosing
the right deployment strategy for your business needs, and deploying an appropriate CI/CD pipeline,
monitoring and logging to ensure that your application is running at peak performance and stays that way.</li><br>
<li> 2 Weeks for Professional training: Agile Management Training and Career Readiness Services.</li><br>
</p>
<h3>Terraform - Getting Started Nov – 2022</h3>
By Ned Bellavance, (Pluralsight)
Learning foundational knowledge of HashiCorp's Terraform software. <br>
Exploring how to add variables, resources, and providers to expand your deployment, leverage abstraction
and improve code reuse with functions, state files, and modules.

<h3> AWS re/Start program (June - Sept) – 2022 </h3>
<li> Completed 12 week, full-time, classroom based skills development and training program on IT
fundamentals, AWS Cloud, and professional skills and built IT fundamental skills, including: working
knowledge of Linux OS, writing scripts in Python and Shell.</li><br>
<li> Learned how to apply core AWS services in the area of compute, storage and networking, including
EC2, S3, IAM, VPC, Lamda, Cloud Formation, RDS and Route 53.</li><br>
<li> Demonstrated strong verbal and written communication skills, including the ability to explain technical
information and terminology to non-technical end users e. Learned how to configure monitor and support
the suite of core AWS services.</li><br>

<h3> Employability skills Nov – 2020 </h3>
University Center for Career Development (UCCD), Alexandria University
Experiential activities that developed team work, communication and
presentation skills.

<h3> Project Management July - 2020 </h3>
University Center for Career Development (UCCD), Alexandria University
Applied basic concepts of project management on real-life cases.
Education
Bachelor of science | Chemical Engineering, Alexandria University 2016 – 2021

<h2> Projects: </h2>
 Give Your Application Auto-Deploy Superpowers (Nov - Dec) – 2022
Built with: (Circle CI - Cloud-based CI/CD service, Amazon AWS - Cloud services, AWS CLI
- Command-line tool for AWS, CloudFormation - Infrastrcuture as code, Ansible - Configuration
management tool, Prometheus - Monitoring tool)
 Deploy a high availability web app using cloud formation Oct – 2022

<h2> Certifications: </h2>
<li> AWS re/Start Graduate Link Oct - 2022 </li>
<li> AWS Certified Cloud Practitioner Link Oct - 2022 </li>
</p>
</body>
</html>